.wrap {
    text-align: center;
}

.pagination {
    margin: 20px auto;
    display: inline-block;
}

.pagination a {
    color: #28527a; /* 기본 텍스트 색상 */
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #e0f0fc; /* 테두리 색상 */
    background-color: #f3f7f9; /* 기본 배경색 */
    margin: 0 4px;
    border-radius: 4px; /* 약간 둥근 모서리 */
}

.pagination span {
    color: #28527a;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #e0f0fc;
    background-color: #f3f7f9;
    margin: 0 4px;
    border-radius: 4px;
}

.pagination a.active {
    background-color: #82caff; /* 활성 상태 배경색 */
    color: #ffffff; /* 활성 상태 텍스트 색상 */
    border: 1px solid #82caff; /* 활성 상태 테두리 */
}

.pagination span.active {
    background-color: #82caff;
    color: #ffffff;
    border: 1px solid #82caff;
}

.pagination a:hover:not(.active) {
    background-color: #e0f0fc; /* 호버 시 배경색 */
    color: #28527a; /* 호버 시 텍스트 색상 */
    border: 1px solid #2e99eb; /* 호버 시 테두리 */
}
