<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="logNm">Spring Log4j2</Property>
        <Property name="layoutPattern">%style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %highlight{[%-5p]}{FATAL=bg_red,
            ERROR=red,
            INFO=green, DEBUG=blue} [%C] %style{[%t]}{yellow} %m%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console_Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}"/>
        </Console>
        <RollingFile name="File_Appender" fileName="logs/${logNm}.log"
                     filePattern="logs/${logNm}_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="${layoutPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000KB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="Console_Appender"/>
            <AppenderRef ref="File_Appender"/>
        </Root>
        <Logger name="org.springframework" level="DEBUG"
                additivity="false">
            <AppenderRef ref="Console_Appender"/>
            <AppenderRef ref="File_Appender"/>
        </Logger>
        <!--하단 name에 본인이 사용하는 package명으로 수정할 것-->
        <Logger name="com.jjinka.jjinkaHoldem.controller" level="INFO" additivity="false">
            <AppenderRef ref="Console_Appender"/>
            <AppenderRef ref="File_Appender"/>
        </Logger>
        <Logger name="org.springframework" level="TRACE" additivity="false">
            <AppenderRef ref="Console_Appender"/>
        </Logger>
        <!-- SQL Logger -->
        <!--  SQL문과 해당 SQL을 실행시키는데 수행된 시간 정보(milliseconds) -->
        <logger name="jdbc.sqltiming" additivity="false">
            <level value="warn" />
            <appender-ref ref="console"/>
        </logger>
        <!--  SQL 쿼리 문장 -->
        <logger name="jdbc.sqlonly" additivity="false">
            <level value="info"/>
            <appender-ref ref="console"/>
        </logger>

        <!--  ResultSet을 제외한 모든 JDBC 호출 정보 -->
        <logger name="jdbc.audit" additivity="false">
            <level value="warn"/>
            <appender-ref ref="console"/>
        </logger>

        <!--  ResultSet을 포함한 모든 JDBC 호출 정보 -->
        <logger name="jdbc.resultset" additivity="false">
            <level value="warn" />
            <appender-ref ref="console"/>
        </logger>

        <!-- SQL 결과 조회된 데이터의 table을 로그 -->
        <logger name="jdbc.resultsettable" additivity="false">
            <level value="warn"/>
            <appender-ref ref="console"/>
        </logger>
    </Loggers>
</Configuration>