<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Game">
    <select id="findAll" resultType="game">
        select * from gameInfo order by gameNo desc;
    </select>

    <select id="gameList" parameterType="java.util.HashMap" resultType="game">
        select * from gameInfo order by gameNo desc LIMIT #{limit} OFFSET #{start}
    </select>

    <select id="gameCount" resultType="Integer">
        select count(gameNo) from gameInfo
    </select>

    <insert id="makeGame" parameterType="game">
        insert into gameInfo(tableNo, gameFee, rewardRate, makeDate)
        values (#{tableNo},#{gameFee}, #{rewardRate}, NOW())
    </insert>

    <select id="findByGameNo" parameterType="Long" resultType="game">
        select * from gameInfo where gameNo=#{gameNo}
    </select>

    <select id="findJoinerList" parameterType="Long" resultType="gameJoiner">
        select * from gameJoiner where gameNo=#{gameNo} AND InGame = 0
    </select>

    <insert id="gamerJoin" parameterType="map">
        insert into gamejoiner(gameNo, userNo, userName, gameTime)
        values (#{gameNo}, #{userNo}, #{userName}, 1)
    </insert>

    <select id="chkJoiner" parameterType="map" resultType="gameJoiner">
        select * from gamejoiner WHERE userNo=#{userNo} AND gameNo=#{gameNo} AND inGame=0;
    </select>

    <update id="userGameSet" parameterType="map">
        update gamejoiner set inGame=1 WHERE userNo=#{userNo} AND gameNo=#{gameNo}
    </update>

    <update id="oneMoreGameCnt" parameterType="map">
        UPDATE gamejoiner SET gameTime = gameTime + 1 WHERE userNo=#{userNo} AND gameNo=#{gameNo}
    </update>

    <select id="chkInGame" parameterType="String" resultType="game">
        SELECT * FROM gameinfo WHERE tableNo=#{tableNo} AND isEnd=0;
    </select>

    <update id="gameSet" parameterType="Long">
        update gameinfo set isEnd=1 WHERE gameNo=#{gameNo}
    </update>
</mapper>