<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Game">
    <select id="findAll" resultType="game">
        select * from gameInfo order by gameNo desc;
    </select>

    <insert id="makeGame" parameterType="game">
        insert into gameInfo(tableNo, gameFee, rewardRate, makeDate)
        values (#{tableNo},#{gameFee}, #{rewardRate}, NOW())
    </insert>

    <select id="findByGameNo" parameterType="Long" resultType="game">
        select * from gameInfo where gameNo=#{gameNo}
    </select>

    <select id="findJoinerList" parameterType="Long" resultType="gameJoiner">
        select * from gameJoiner where gameNo=#{gameNo}
    </select>
</mapper>