<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Game">
    <select id="findAll" resultType="game">
        select * from gameInfo order by gameNo desc;
    </select>

    <select id="gameList" parameterType="java.util.HashMap" resultType="game">
        select * from gameInfo
        WHERE
            DATE_FORMAT(makedate, '%Y-%m-%d' )
                BETWEEN
                #{dateBefore}
                AND
                #{dateAfter}
        order by gameNo desc LIMIT #{limit} OFFSET #{start}
    </select>

    <select id="gameCount" parameterType="java.util.HashMap" resultType="Integer">
        select count(gameNo) from gameInfo
        WHERE
            DATE_FORMAT(makedate, '%Y-%m-%d' )
                BETWEEN
                    #{dateBefore}
                AND
                    #{dateAfter}
    </select>

    <insert id="makeGame" parameterType="game">
        <if test="gameType == 1">
            insert into gameInfo(tableNo, gameFee, gameReward, gameType, rewardRate, makeDate)
            values (#{tableNo},#{gameFee}, #{gameReward}, #{gameType}, 0, NOW())
        </if>
        <if test="gameType == 2">
            insert into gameInfo(tableNo, gameFee, rewardRate, gameType, makeDate)
            values (#{tableNo},#{gameFee}, #{rewardRate}, #{gameType}, NOW())
        </if>
    </insert>

    <select id="findByGameNo" parameterType="Long" resultType="game">
        select * from gameInfo where gameNo=#{gameNo}
    </select>
    <!--
    <select id="findJoinerList" parameterType="Long" resultType="gameJoiner">
        select * from gameJoiner where gameNo=#{gameNo} ORDER BY inGame	ASC
    </select>
    -->
    <select id="findJoinerList" parameterType="Long" resultType="gameJoiner">
        SELECT
            gameJoinNo
            , gameNo
            , userNo
            , userName
            , gameTime
            , inGame
            , joinTime
            , finishTime
            , (SELECT user.userPoint FROM user WHERE userNo = gameJoiner.userNo) AS joinUserPoint
        FROM
            gameJoiner
        WHERE
            gameNo=#{gameNo}
        ORDER BY inGame ASC;
    </select>
    <insert id="gamerJoin" parameterType="map">
        insert into gameJoiner(gameNo, userNo, userName, gameTime)
        values (#{gameNo}, #{userNo}, #{userName}, 1)
    </insert>

    <select id="chkJoiner" parameterType="map" resultType="gameJoiner">
        select * from gameJoiner WHERE userNo=#{userNo} AND gameNo=#{gameNo} AND inGame=0;
    </select>

    <update id="userGameSet" parameterType="map">
        update gameJoiner set inGame=1, finishTime=NOW() WHERE userNo=#{userNo} AND gameNo=#{gameNo} AND gameJoinNo = #{gameJoinNo}
    </update>

    <update id="reGameIn" parameterType="map">
        update gameJoiner set inGame=0, gameTime = gameTime + 1, finishTime=null WHERE userNo=#{userNo} AND gameNo=#{gameNo} AND gameJoinNo = #{gameJoinNo}
    </update>

    <update id="oneMoreGameCnt" parameterType="map">
        UPDATE gameJoiner SET gameTime = gameTime + 1 WHERE userNo=#{userNo} AND gameNo=#{gameNo} AND gameJoinNo = #{gameJoinNo}
    </update>

    <select id="chkInGame" parameterType="String" resultType="game">
        SELECT * FROM gameInfo WHERE tableNo=#{tableNo} AND isEnd=0;
    </select>

    <update id="gameSet" parameterType="Long">
        update gameInfo set isEnd=1 WHERE gameNo=#{gameNo};
    </update>

    <update id="allJoinerGameSet" parameterType="Long">
        update gameJoiner set inGame=1, finishTime=NOW() WHERE gameNo=#{gameNo};
    </update>

    <update id="setReward" parameterType="Long">
        <if test="gameReward != null">
            UPDATE gameInfo SET totalGameFee = #{totalGameFee}, gameReward = #{gameReward} WHERE gameNo=#{gameNo}
        </if>

        <if test="gameReward == null">
            UPDATE gameInfo SET totalGameFee = #{totalGameFee} WHERE gameNo=#{gameNo}
        </if>
    </update>

    <select id="getGameReward" parameterType="Long" resultType="Long">
        select gameReward from gameInfo where gameNo=#{gameNo}
    </select>

    <update id="setGameWinner" parameterType="Long">
        UPDATE user SET userPoint = ((SELECT user.userPoint WHERE user.userNo=#{userNo}) + #{gameReward}) WHERE userNo = #{userNo}
    </update>

    <select id="chkGaming" parameterType="Long" resultType="String">
        SELECT isEnd FROM gameInfo WHERE gameNO=#{gameNo}
    </select>

    <update id="gameUpdate" parameterType="game">
        UPDATE gameInfo SET gameReward=#{gameReward}, gameFee=#{gameFee}, rewardRate=#{rewardRate} WHERE gameNo=#{gameNo}
    </update>

    <update id="pointDeduction" parameterType="Map">
        UPDATE user SET userPoint = ((SELECT user.userPoint WHERE user.userNo=#{userNo}) - #{gameFee}) WHERE userNo = #{userNo}
    </update>

</mapper>