<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">
    <insert id="save" parameterType="user">
        <if test="visitRoute == null">
            insert into user(userName, phoneNumber, userPwd, pwdUpdate, recommenderNo, registDate)
            values (#{userName}, #{phoneNumber}, '1111', '0', #{recommenderNo}, NOW())
        </if>
        <if test="visitRoute != null">
            insert into user(userName, phoneNumber, userPwd, pwdUpdate, visitRoute, etcVisitRoute, recommenderNo, registDate)
            values (#{userName}, #{phoneNumber}, '1111', '0', #{visitRoute}, #{etcVisitRoute}, #{recommenderNo}, NOW())
        </if>
    </insert>

    <select id="userList" parameterType="java.util.HashMap" resultType="user">
        <if test="searchWord != null">
            select * from user WHERE userName LIKE '%${searchWord}%' OR phoneNumber LIKE '%${searchWord}%' order by userNo desc LIMIT #{limit} OFFSET #{start}
        </if>
        <if test="searchWord == null">
            select * from user order by userNo desc LIMIT #{limit} OFFSET #{start}
        </if>
    </select>

    <select id="userCount" parameterType="String" resultType="Integer" >
        select count(userNo) from user WHERE userName LIKE '%${searchWord}%' OR phoneNumber LIKE '%${searchWord}%'
    </select>

    <select id="findByUserNo" parameterType="Long" resultType="user">
        select * from user where userNo=#{userNo}
    </select>

    <select id="findByUserName" parameterType="String" resultType="user">
        select * from user where userName like '%${userName}%'
    </select>

    <select id="findRecommender" parameterType="String" resultType="user">
        select * from user where userName like '%${userName}%' OR phoneNumber LIKE '%${userName}%'
    </select>
    <!--
    <select id="addRecommender" parameterType="Long" resultType="Long">
        select * from user where userName like '%${userName}%' OR phoneNumber LIKE '%${userName}%'
    </select>
    -->
    <select id="searchUserByNameOrNum" parameterType="String" resultType="user">
        select * from user where userName like '%${searchWord}%' OR phoneNumber like '%${searchWord}%'
    </select>

    <update id="update" parameterType="user">
        update user set userName = #{userName}, phoneNumber = #{phoneNumber}, memLevel = #{memLevel}, recommenderNo = #{recommenderNo}  where userNo = #{userNo}
    </update>

    <update id="updatePoint" parameterType="map">
        UPDATE user
            SET userPoint = ((SELECT user.userPoint WHERE user.userNo=#{userNo}) + #{userPoint})
        WHERE userNo = #{userNo}
    </update>

    <update id="delete" parameterType="user">
        delete from user where userNo=#{userNo}
    </update>

    <select id="findByMemberPhoneNo" parameterType="String" resultType="user">
        select * from user where phoneNumber=#{phoneNumber}
    </select>

    <select id="userPopUp" parameterType="java.util.HashMap" resultType="user">
        SELECT * FROM user WHERE userNo in (SELECT userNo FROM gameJoiner WHERE gameNo=#{gameNo})
    </select>

    <select id="checkPoint" parameterType="java.util.HashMap" resultType="user">
        SELECT * FROM user WHERE userName = #{userName} AND phoneNumber = #{phoneNumber}
    </select>

    <select id="cntMembers" resultType="user">
        SELECT COUNT(*) AS cntMember, SUM(userpoint) AS cntUserPoint FROM user;
    </select>
</mapper>