<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserPoint">

    <select id="userPointAll" parameterType="Long" resultType="userPoint">
        select * from userPoint where userNo=#{userNo} order by date desc
    </select>
    <!--
    <select id="userPointRecent" parameterType="Long" resultType="userPoint">
        SELECT
            userNo
            , point
            , isGameReward
            , reasonForChange
            , etcReason
            , (select userName from user where receiverUserNo = userNo) AS receiverUserName
            , (select userName from user where senderUserNo = userNo) AS senderUserName
            , DATE
            , joinGameNo
        FROM userPoint where userNo=#{userNo} ORDER BY DATE DESC LIMIT 10 OFFSET 0;
    </select>
    -->
    <select id="userPointRecent" parameterType="Long" resultType="userPoint">
        SELECT
            userNo
             , point
             , isGameReward
             , (SELECT typeName FROM userPointType WHERE userPoint.reasonForChange = userPointType.typeNo) AS typeName
             , etcReason
             , (select userName from user where receiverUserNo = userNo) AS receiverUserName
             , (select userName from user where senderUserNo = userNo) AS senderUserName
             , DATE
             , joinGameNo
        FROM userPoint where userNo=#{userNo} ORDER BY DATE DESC LIMIT 10 OFFSET 0;
    </select>

    <insert id="insertPointLog" parameterType="map">
        <if test="reasonForChange == 1">
            insert into userPoint(userNo, point, reasonForChange, joinGameNo)
            values (#{userNo}, #{userPoint}, 1, #{joinGameNo})
        </if>
        <if test="reasonForChange == 2 and receiverUserNo != null">
            insert into userPoint(userNo, point, reasonForChange, receiverUserNo)
            values (#{userNo}, #{userPoint}, 2, #{receiverUserNo})
        </if>
        <if test="reasonForChange == 2 and senderUserNo != null">
            insert into userPoint(userNo, point, reasonForChange, senderUserNo)
            values (#{userNo}, #{userPoint}, 2, #{senderUserNo})
        </if>
        <if test="reasonForChange == 3">
            insert into userPoint(userNo, point, reasonForChange, etcReason)
            values (#{userNo}, #{userPoint}, 3, #{etcReason})
        </if>
        <if test="reasonForChange == 4">
            insert into userPoint(userNo, point, reasonForChange, joinGameNo)
            values (#{userNo}, (#{gameFee}), 4, #{joinGameNo})
        </if>
        <if test="reasonForChange != 1 and reasonForChange != 2 and reasonForChange != 3 and reasonForChange != 4">
            insert into userPoint(userNo, point, reasonForChange)
            values (#{userNo}, #{userPoint}, 0)
        </if>
    </insert>

    <select id="userPointList" parameterType="java.util.HashMap" resultType="userPoint">
        select
            userNo
             , point
             , isGameReward
             , (SELECT typeName FROM userPointType WHERE userPoint.reasonForChange = userPointType.typeNo) AS typeName
             , etcReason
             , (select userName from user where receiverUserNo = userNo) AS receiverUserName
             , (select userName from user where senderUserNo = userNo) AS senderUserName
             , DATE
             , joinGameNo
        from userPoint WHERE userNo = #{userNo} order by date desc LIMIT #{limit} OFFSET #{start}
    </select>

    <!--
    <select id="userPointList" parameterType="java.util.HashMap" resultType="userPoint">
        select * from userPoint WHERE userNo = #{userNo} order by date desc LIMIT #{limit} OFFSET #{start}
    </select>
    -->

    <select id="pointLogCount" parameterType="Long" resultType="Integer" >
        select count(userNo) from userPoint where userNo=#{userNo}
    </select>
<!--
    <select id="checkUserPoint" parameterType="java.util.HashMap" resultType="userPoint">
        select * from userPoint where userNo=#{userNo} order by date desc
    </select>
-->
</mapper>