<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserPoint">

    <select id="userPointAll" parameterType="Long" resultType="userPoint">
        select * from userPoint where userNo=#{userNo} order by date desc
    </select>

    <insert id="insertPointLog" parameterType="map">
        insert into userPoint(userNo, point)
        values (#{userNo}, #{userPoint})
    </insert>
</mapper>